.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}

.app {
  font-size: 12px;
  height: 100vh;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.9);

  display: flex;

  .main {
    flex: 1;
    overflow: hidden;
  }

  .side {
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    border-left: 1px solid #dfdfdf;

    .key {
      display: inline-block;
      font-size: 12px;
      text-align: center;
    }
  }
}