.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}

.app {
  font-size: 14px;
  height: 100vh;
  overflow: hidden;
  padding: 0 8px;
  background: rgba(255, 255, 255, 0.9);

}

.row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dfdfdf;
}

.footer {
  display: flex;
}

.space {
  flex: 1;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;

  &-text {
    font-weight: 600;

  }

  &-icon {
    height: 15px;
  }
}



.desc {
  &.active {
    color: red;
    font-weight: bold;
  }
}


.count {
  width: 20px;
  text-align: center;
}

.key {
  font-size: 14px;
  text-align: center;
}